@{
    ViewData["Title"] = "Edit";
}

@model MegaDeskMVC.Models.EditQuoteViewModel


<h2>Edit</h2>
<form action="UpdateQuote" method="Post">
<div>
    <h4>Quote</h4>
    <hr />
    <dl class="dl-horizontal">
        <!--<dt>
            @Html.DisplayNameFor(model => model.quote.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quote.Id)
        </dd>-->
        <dt>
            @Html.DisplayNameFor(model => model.quote.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quote.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quote.FirstName)
        </dt>
        <dd>
            <input type="text" name="FirstName" value="@Model.quote.FirstName">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quote.LastName)
        </dt>
        <dd>
            <input type="text" name="LastName" value="@Model.quote.LastName">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quote.DeskWidth)
        </dt>
        <dd>
            <input type="text" name="deskWidth" value="@Model.quote.DeskWidth">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quote.DeskLength)
        </dt>
        <dd>
            <input type="text" name="deskLength" value="@Model.quote.DeskLength">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quote.Drawers)
        </dt>
        <dd>
            <select name="drawers">
            @if (Model.quote.Drawers == 1){
                <option value="1" SELECTED> 1 </option>
            } else {
                <option value="1"> 1 </option>
            }

            @if (Model.quote.Drawers == 2){
                <option value="2" SELECTED> 2 </option>
            } else {
                <option value="2"> 2 </option>
            }

            @if (Model.quote.Drawers == 3){
                <option value="3" SELECTED> 3 </option>
            } else {
                <option value="3"> 3 </option>
            }


            @if (Model.quote.Drawers == 4){
                <option value="4" SELECTED> 4 </option>
            } else {
                <option value="4"> 4 </option>
            }

            @if (Model.quote.Drawers == 5){
                <option value="5" SELECTED> 5 </option>
            } else {
                <option value="5"> 5 </option>
            }

            @if (Model.quote.Drawers == 6){
                <option value="6" SELECTED> 6 </option>
            } else {
                <option value="6"> 6 </option>
            }

            @if (Model.quote.Drawers == 7){
                <option value="7" SELECTED> 7 </option>
            } else {
                <option value="7"> 7 </option>
            }

            @if (Model.quote.Drawers == 8){
                <option value="8" SELECTED> 8 </option>
            } else {
                <option value="8"> 8 </option>
            }

            @if (Model.quote.Drawers == 9){
                <option value="9" SELECTED> 9 </option>
            } else {
                <option value="9"> 9 </option>
            }  
            </select>        
        </dd>
        <dt>
            Material
        </dt>
        <dd>
            <select name="material">

            @foreach (var item in Model.material)
            {
                if (Model.quote.Material == item.Description)
                {
                    <option value="@item.Description" SELECTED> @item.Description &nbsp; @item.Price </option>
                } 
                else 
                {
                    <option value="@item.Description"> @item.Description &nbsp; @item.Price </option>
                }
            }
       
            </select>        
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quote.MaterialPrice)
        </dt>
        <dd>
            @Model.quote.MaterialPrice.ToString("$00.00")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quote.ShippingDays)
        </dt>
        <dd>
            <select name="ShippingDays">
            @if (Model.quote.ShippingDays == 3){
                <option value="3" SELECTED> 3 </option>
            } else {
                <option value="3"> 3 </option>
            }
            @if (Model.quote.ShippingDays == 5){
                <option value="5" SELECTED> 5 </option>
            } else {
                <option value="5"> 5 </option>
            } 
            @if (Model.quote.ShippingDays == 7){
                <option value="7" SELECTED> 7 </option>
            } else {
                <option value="7"> 7 </option>
            }
            @if (Model.quote.ShippingDays == 14){
                <option value="14" SELECTED> 14 </option>
            } else {
                <option value="14"> 14 </option>
            }
            </select>        
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quote.ShippingPrice)
        </dt>
        <dd>
            @Model.quote.ShippingPrice.ToString("$00.00")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quote.Amount)
        </dt>
        <dd>
            @Model.quote.Amount.ToString("$00.00")
        </dd>        
    </dl>
    </div>
        
        <input type="Hidden" name="Id" value="@Model.quote.Id">
        <input type="submit" value="Update" class="btn btn-default" /> |
        <a href="Index">Back to List</a>
    </form>
