@{
    ViewData["Title"] = "Quotes";
}

@model MegaDeskMVC.Models.QuotesViewModel


<a href="/Quotes/NewQuote"><button id="newQuote"> New Quote </button></a>

 <div id="quotes">

    <div class="head"> Date </div>
        <div class="head"> First Name </div>
        <div class="head"> Last Name </div>
        <div class="head numbers"> Shipping Days </div>
        <div class="head numbers"> Total </div>

        <div class="head"> &nbsp; </div>
@foreach (var item in Model.myQuotes)
{

        <div>@item.Date.ToString("MM, dd, yyyy")</div>
        <div>@item.FirstName</div>
        <div>@item.LastName</div>
        <div class="numbers">@item.ShippingDays</div>
        <div class="numbers">@item.Amount</div>
        <div class="crud">
            <a href="Quotes/Delete?Id=@item.Id"><div class="delete"> Delete @item.Id</div></a>
            <div class="edit"> Edit @item.Id</div>
            <div class="view"> View @item.Id</div>
        </div>

}

</div>