@{
    ViewData["Title"] = "Quotes";
}

@model MegaDeskMVC.Models.QuotesViewModel
@foreach (var item in Model.myQuotes)
{

    <div id="quotes">

        <div class="head"> Date </div>
        <div class="head"> First Name </div>
        <div class="head"> Last Name </div>
        <div class="head numbers"> Shipping Days </div>
        <div class="head numbers"> Total </div>

        <div class="head"> &nbsp; </div>
    
        <div>@item.Date</div>
        <div>@item.FirstName</div>
        <div>@item.LastName</div>
        <div class="numbers">@item.shippingDays</div>
        <div class="numbers">@item.Amount</div>
        <div class="crud">
            
            <div class="delete"> Delete @item.Id</div>
            <div class="edit"> Edit @item.Id</div>
            <div class="view"> View @item.Id</div>
        </div>
        
    </div>
  
}
