@{
    ViewData["Title"] = "Quotes";
}



@model MegaDeskMVC.Models.NewQuotesViewModelResponce

<div asp-validation-summary="All"></div>

<span asp-validation-for="responceVM.FirstName"></span>   

<form method="post">
<div id="NewQuote">
    <lable> First Name </lable>
     @Html.TextBoxFor(m => m.responceVM.FirstName)

    <lable> Last Name </lable>
    @Html.TextBoxFor(m => m.responceVM.LastName)

            
    <lable> Desk Width </lable>
    @Html.TextBoxFor(m => m.responceVM.deskWidth)
        
    <lable> Desk Length </lable>
     @Html.TextBoxFor(m => m.responceVM.deskLength)
        
    <lable> Drawers </lable>
    <select name="drawers">
            @if (Model.responceVM.drawers == 1){
                <option value="1" SELECTED> 1 </option>
            } else {
                <option value="1"> 1 </option>
            }

            @if (Model.responceVM.drawers == 2){
                <option value="2" SELECTED> 2 </option>
            } else {
                <option value="2"> 2 </option>
            }

            @if (Model.responceVM.drawers == 3){
                <option value="3" SELECTED> 3 </option>
            } else {
                <option value="3"> 3 </option>
            }
        

         <option value="4"> 4 </option>
         <option value="5"> 5 </option>
         <option value="6"> 6 </option>
         <option value="7"> 7 </option>
         <option value="8"> 8 </option>
         <option value="9"> 9 </option> 
    </select>
        

    <lable> Material </lable>
    <select name="material">

        @foreach (var item in Model.materialsVM.material)
        {
            <option value="@item.Description"> @item.Description &nbsp; @item.Price </option>
        }
       
    </select>
    
    <lable> Shipping Days </lable>
    <select name="shippingDays">

       
        <option value="1"> 3 </option>
        <option value="5"> 5 </option>
        <option value="7"> 7 </option>
        <option value="14" SELECTED> 14 </option>
            
    </select>

    <lable> &nbsp; </lable>
    <button type="submit"> Submit </button>


    
    
</div>
</form>